<div class="loader-container">
    <div class="loading">
        Connecting to the truck...
    </div>
    <div class="loading-icon">
        <div class="dot" style="--i:0s"></div>
        <div class="dot" style="--i:0.1s"></div>
        <div class="dot" style="--i:0.2s"></div>
        <div class="dot" style="--i:0.3s"></div>
        <div class="dot" style="--i:0.4s"></div>
        <div class="dot" style="--i:0.5s"></div>
    </div>
    <!-- <button @click="stopSendingRequest()">test</button> -->
</div>