.loader-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $bg-dark;

    &::before{
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        opacity: 0.1;
        z-index: 1;
        background-image: url('../../assets/drone-wireframe-green.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .loading{
        font-size: 2em;
        position: relative;
        z-index: 2;
        color: $green;
    }

    .loading-icon{
        margin-top: 20px;

        .dot{
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: 5px;
            background-color: $green;
            animation: jump 1s ease var(--i) infinite alternate;
        }

        @keyframes jump {
            0%{
                transform: translateY(0px);    
            }
            100%{
                transform: translateY(20px);
            }
        }
    }

    button{
        z-index: 2;
        margin-top: 20px;
        cursor: pointer;
    }
}